
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <!-- <form > -->
          <fieldset>
            <legend class="text-center header">Registro de contacto</legend>
            <form class="form-horizontal" #insertClient="ngForm" (ngSubmit)="registrar(insertClient)">
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control" [(ngModel)]="nombre">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  <input id="apaterno" name="apaterno" type="text" placeholder="Apellido" class="form-control" [(ngModel)]="apellido">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  <input id="num_documento" name="num_documento" type="text" placeholder="Cedula" class="form-control" [(ngModel)]="cedula">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                <div class="col-md-8">
                  <input id="telefono" name="telefono" type="text" placeholder="Telefono" class="form-control" [(ngModel)]="telefon">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  <input id="email" name="email" type="text" placeholder="Correo" class="form-control" [(ngModel)]="correo">
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary pull-left">Submit</button>
                </div>
              </div>
            </form>
          </fieldset>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>


<!-- asdadasd -->
