<div class="page-wrapper">
    <div class="container-fluid">
      
      <!-- Title -->
      <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h5 class="txt-dark">Calendario</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
         
          <li><a class="active-page" href="dashboard">Inicio</a></li>
          <li><a href="#"><span>Habitación</span></a></li>
          <li class="active"><span>Calendario</span></li>
          </ol>
        </div>
        <!-- /Breadcrumb -->
      </div>
      <!-- /Title -->
      <!-- Row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
              <div class="panel-body">
                <div class="add-event-wrap">
                  <div class="calendar-event btn btn-success">Mi evento uno<a href="javascript:void(0);" class="remove-calendar-event"><i class="fa fa-times fa-fw"></i></a></div>
                  <div class="calendar-event btn btn-info">Mi evento dos <a href="javascript:void(0);" class="remove-calendar-event"><i class="fa fa-times fa-fw"></i></a></div>
                  <div class="calendar-event btn btn-warning">Mi evento tres<a href="javascript:void(0);" class="remove-calendar-event"><i class="fa fa-times fa-fw"></i></a></div>
                  <div class="calendar-event btn btn-primary">Mi evento cuatro <a href="javascript:void(0);" class="remove-calendar-event"><i class="fa fa-times fa-fw"></i></a></div>
                  <input type="text" placeholder="Add Event and hit enter" class="form-control add-event mt-30">
                </div>
                <div class="calendar-wrap mt-40">
                  <div id="calendar"></div>
                </div>
              </div>
            </div>
          </div>	
        </div>	
      </div>	
        <!-- /Row -->
    </div>
  </div>