<!-- asdasda -->
<div class="container">
    <h2>Tabla de clientes</h2>
    <button (click)='getCliente()'>Vizualizar Clientes</button>
    <table class="table table-bordered">
      <thead>
          <tr>
              <th>ID</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Cedula </th>
              <th>Telefono</th>
              <th>Correo</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let cliente of data | async">
              <td>{{cliente.id}}</td>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.apaterno}}</td>
              <td>{{cliente.num_documento}}</td>
              <td>{{cliente.telefono}}</td>
              <td>{{cliente.email}}</td>
              <td>
                <a class="btn btn-secondary text-white" href="#{{cliente.id}}">
                  <i class="far fa-edit"></i>
                </a>
                <a class="btn btn-danger text-white" href="http://localhost:1337/tablacontacto/destroy/{{cliente.id}}">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </td>


          </tr>
      </tbody>
    </table>
  </div>
