<div class="card">
  <div class="card-body">
    <h6 class="text-center">Lista de productos</h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr *ngFor="let productos of productList">
          <td>{{ productos.name }}</td>
          <td>{{ productos.category }}</td>
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(productos)">
              <i class="far fa-edit"></i>
            </a>
            <a class="btn btn-danger text-white" (click)="onDelete(productos.$key)">
              <i class="fas fa-trash-alt"></i>

            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>